In [1]:
from selenium import webdriver
import pandas as pd
import numpy as np
import re
import tabula

In [ ]:
driver = webdriver.Chrome()

In [ ]:
def get_runner_record(url):
    driver.get(url)
    odd_even_l = ['OL', 'EL']
    odd_even_r = ['OR', 'ER']
    runner_record = {
        'bib_num': [],
        'name': [],
        'cate': [],
        'official_time': [],
        'rank_all': [],
        'rank_cat': [],
        'net_time': []
    }
    while True:
        next_button_xpath = "/html/body/table[2]/tbody/tr[6]/td/table/tbody/tr/td/table/tbody/tr/td[@class='grayed'][2]/table/tbody/tr/td[3]/a"
        next_button = driver.find_elements_by_xpath(next_button_xpath)
        for l in odd_even_l:
            bib_num_xpath = '//td[@class=\'{}\'][1]'.format(l)
            name_xpath = '//td[@class=\'{}\'][2]'.format(l)
            cate_xpath = '//td[@class=\'{}\'][4]'.format(l)
            bib_num_elem, name_elem, cate_elem = driver.find_elements_by_xpath(bib_num_xpath), driver.find_elements_by_xpath(name_xpath), driver.find_elements_by_xpath(cate_xpath)
            for e1, e2, e3 in zip(bib_num_elem, name_elem, cate_elem):
                runner_record['bib_num'].append(e1.text)
                runner_record['name'].append(e2.text)
                runner_record['cate'].append(e3.text)
        for r in odd_even_r:
            official_time_xpath = '//td[@class=\'{}\'][1]'.format(r)
            rank_all_xpath = '//td[@class=\'{}\'][2]'.format(r)
            rank_cat_xpath = '//td[@class=\'{}\'][3]'.format(r)
            net_time_xpath = '//td[@class=\'{}\'][4]'.format(r)
            official_time_elem, rank_all_elem, rank_cat_elem, net_time_elem = driver.find_elements_by_xpath(official_time_xpath), driver.find_elements_by_xpath(rank_all_xpath), driver.find_elements_by_xpath(rank_cat_xpath), driver.find_elements_by_xpath(net_time_xpath)
            for e4, e5, e6, e7 in zip(official_time_elem, rank_all_elem, rank_cat_elem, net_time_elem):
                runner_record['official_time'].append(e4.text)
                runner_record['rank_all'].append(e5.text)
                runner_record['rank_cat'].append(e6.text)
                runner_record['net_time'].append(e7.text)
        # Keep scraping the next page if Next link exists
        if len(next_button) > 0:
            next_button_click = driver.find_element_by_xpath(next_button_xpath)
            next_button_click.click()
        # Stop scraping if Next link is of absense
        else:
            break
    
    df = pd.DataFrame(runner_record)
    return df

In [ ]:
def write_concatenated_df():
    url_2011 = "https://www.run2pix.com/report/report_w.php?EventCode=20111218&Race=MA&sn=3"
    url_2012 = "https://www.run2pix.com/report/report_w.php?EventCode=20121216&Race=MA&sn=32"
    url_2013 = "https://www.run2pix.com/report/report_w.php?EventCode=20131215&Race=MA&sn=57"
    url_2014 = "https://www.run2pix.com/report/report_w.php?EventCode=20141221&Race=MA&sn=86"
    url_2015 = "https://www.run2pix.com/report/report_w.php?EventCode=20151220&Race=MA&sn=111"
    url_2016 = "https://www.run2pix.com/report/report_w.php?EventCode=20161218&Race=MA&sn=136"
    url_2017 = "https://www.run2pix.com/report/report_w.php?EventCode=20171217&Race=MA&sn=161"
    url_list = [url_2011, url_2012, url_2013, url_2014, url_2015, url_2016, url_2017]
    df_list = []
    for url, yr in zip(url_list, range(2011, 2018)):
        df = get_runner_record(url)
        df['year'] = yr
        df_list.append(df)
    df = df_list[0]
    for i in range(1, len(df_list)):
        df = pd.concat([df, df_list[i]])
    df.to_csv('taipei_marathon.csv', index = False)

In [ ]:
write_concatenated_df()

In [ ]:
driver.close()

In [2]:
df_list = []
for i in range(1, 22):
    df = tabula.read_pdf('http://www.hakone-ekiden.jp/pdf/94_entry_team.pdf', pages = str(i))
    df_list.append(df)

In [3]:
df_list[0].head()

,駅伝,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,★5000m、10000m,Unnamed: 10,★20km、ハーフ,Unnamed: 12,Unnamed: 13
0,NaN,氏 名,フリガナ,学年,学部,年齢,登録陸協,出身校,NaN,NaN,NaN,NaN,NaN,NaN
1,主将,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,公認最高記録,NaN,公認最高記録,NaN,NaN
2,NaN,近藤 修一郎,コンドウ シュウイチロウ,4,社会情報,21,熊本県,九州学院,NaN,29 : 42 .,94.0,1 : 04,:,6.0
3,NaN,下田 裕太,シモダ ユウタ,4,教育人間科,21,静岡県,加藤学園,NaN,28 : 33 .,77.0,1 : 02,:,22.0
4,NaN,田村 和希,タムラ カズキ,4,経営,22,山口県,西京,NaN,28 : 18 .,31.0,1 : 01,:,56.0

In [4]:
# dealing with ugly pdf tables...
ser = df_list[0].iloc[:, 9]
for i in range(1, 21):
    if i in [1, 2, 8, 9, 20]:
        s = df_list[i].iloc[:, 9]
    else:
        s = df_list[i].iloc[:, 8]
    ser = ser.append(s)

In [5]:
def is_10000_m(x):
    'a function to judge if it is a 10000m record'
    if re.match('^1', x) == None:
        return True
    else:
        return False

# data cleaning
ser_no_nan = ser[~pd.isnull(ser)]
ser_cleaned = ser_no_nan[ser_no_nan != '公認最高記録']
ser_cleaned = ser_cleaned.reset_index(drop = True)
is_10000_m_list = []
for i in ser_cleaned:
    is_10000_m_list.append(is_10000_m(i))
ser_unsplit = ser_cleaned[is_10000_m_list]
ser_split = ser_unsplit.str.split('[:\.]')
seconds_list = []
for i in ser_split:
    second = int(i[0].strip()) * 60 + int(i[1].strip())
    seconds_list.append(second)
seconds_arr = np.array(seconds_list)

In [6]:
print(len(seconds_arr))
print(len(seconds_arr[seconds_arr < (29*60 + 12)]))

322
94